/* base variables */
  
  /* Edit the CSS properties in this file to create a custom
Distill theme. Only edit values in the right column
for each row; values shown are the CSS defaults.
To return any property to the default,
you may set its value to: unset
All rows must end with a semi-colon.                      */
  
  /* Optional: embed custom fonts here with `@import`          */
  /* This must remain at the top of this file.                 */
  @import url('https://fonts.googleapis.com/css2?family=Lato');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono');
@import url('https://fonts.googleapis.com/css2?family=Montserrat');

html {
  /*-- Main font sizes --*/
    --title-size:      50px;
  --body-size:       1.0rem;                     /* edited */
    --code-size:       0.9rem;                     /* edited */
    --aside-size:      12px;
  --fig-cap-size:    13px;
  /*-- Main font colors --*/
    --title-color:     #dd424c;
    --heading-color:   rgba(0, 0, 0, 0.8);
  --body-color:      #383838;                    /* edited */
    --aside-color:     rgba(0, 0, 0, 0.6);
  --fig-cap-color:   rgba(0, 0, 0, 0.6);
  /*-- Specify custom fonts ~~~ must be imported above   --*/
    --heading-font:    'Lato', sans-serif;         /* edited */
    --mono-font:       'Fira Mono', monospace;     /* edited */
    --body-font:       'Lato', sans-serif;         /* edited */
    --navbar-font:     'Montserrat', sans-serif;   /* edited */
}

/*-- ARTICLE METADATA --*/
  d-byline {
    --heading-size:    0.6rem;
    --heading-color:   rgba(0, 0, 0, 0.5);
    --body-size:       0.8rem;
    --body-color:      rgba(0, 0, 0, 0.8);
  }

/*-- ARTICLE TABLE OF CONTENTS --*/
  .d-contents {
    --heading-size:    18px;
    --contents-size:   13px;
  }

/*-- ARTICLE APPENDIX --*/
  d-appendix {
    --heading-size:    15px;
    --heading-color:   rgba(0, 0, 0, 0.65);
    --text-size:       0.8em;
    --text-color:      rgba(0, 0, 0, 0.5);
  }

/*-- WEBSITE HEADER + FOOTER --*/
  /* These properties only apply to Distill sites and blogs  */
  
  .distill-site-header {
    --title-size:       20px;                      /* edited */
      --text-color:       #FFFFFF;                   /* edited */
      --text-size:        20px;                      /* edited */
      --hover-color:      #383838;                   /* edited */
      --bkgd-color:       rgb(249, 83, 85);          /* edited */
  }

.distill-site-footer {
  --text-color:       rgba(255, 255, 255, 0.8);
  --text-size:        15px;
  --hover-color:      white;
  --bkgd-color:       #0F2E3D;
}


/*-- Additional custom styles --*/
  
  .posts-list .metadata .publishedDate {
    color: rgb(249, 83, 85);
  }

d-article p code {
  color: #383838;
    background: rgba(249, 83, 85, 0.1);
  font-weight: 400;
  font-size: 0.9em;
}

d-article a {
  border-bottom: 2px solid rgba(249, 83, 85, 0.4);
  text-decoration: none;
}

.distill-site-header .title {
  font-weight: 600; 
}

ul > li::marker {
  color: rgb(249, 83, 85);
}